@model DriveHub.ViewModels.AddUsersViewModel

@{
    ViewData["Title"] = "Добавить пользователя";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="UserID" class="control-label"></label>
        <input asp-for="UserID" class="form-control" />
        <span asp-validation-for="UserID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Username" class="control-label"></label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RoleID" class="control-label"></label>
        <input asp-for="RoleID" class="form-control" />
        <span asp-validation-for="RoleID" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Добавить</button>
</form>
